@require '../../node_modules/vuetify/src/stylus/settings/_colors'
 
$theme := {
  primary: $red.lighten-1
  accent: $grey.darken-3
  secondary: $light-green.base
  info: $blue.base
  warning: $amber.base
  error: $red.accent-4
  success: $green.base
}
 
@require '../../node_modules/vuetify/src/stylus/main'